body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
}

h3 {
  margin: 0;
  padding: 0;
}

.form-group {
  position: relative;
  padding-top: 1.5rem;
}

input {
  margin: 5px;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 3px;
}

label {
  position: absolute;
  top: 0;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form {
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.container button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.container button:disabled {
  background-color: lightgray;
}
